{% extends 'base.html' %} 



{% block title %} {{project.project_name}} {% endblock %}

{% block content %}

<section class="articles-list">
    {% if request.user.is_authenticated %}
        <h1 class="margin">{{project.project_name}}</h1>
        <p><u>Ответсвенный за проект</u>: {{project.project_owner}}</p>
        <p class="margin"><u>Описание</u>: {{project.project_description}}</p>

         <p class="margin">Создан: <em>{{project.create_date}}</em></p>

         <p class="margin">Редактирован: <em>{{project.update_date}}</em></p>
         <p class="margin">Нормальный режим работы: <em>[{{project.min_intensity}} : {{project.max_intensity}}]</em></p>



        {% if measures %}

            {% autoescape off %}
                {{story}}
            {% endautoescape %}
            <br>
            <h2>Измерения: </h2>
            {% for item in measures %}
            <div class="article-li">
                <a href="{% url 'factory:render_measure' item.id %}"><h2>{{item.measure_name}}</h2></a>
                {% if item.mean_intensity > project.max_intensity or item.mean_intensity < project.min_intensity %}
                    <p><b style="color: red">Отклонение!</b></p>
                {% endif %}
                <span class="article_author-li"><cite>{{item.author_name}}</cite></span>
                <span class="pub_date-li">Updated: {{item.date}}</span>
            </div>
            {% endfor %}
        {% else %}
            <h1>Измерения еще не проводились</h1>
        {% endif %}
        <div class="article-form" style="max-width: 200px">
            <a class="btn btn-dark" style="color: white;" href="{% url 'factory:addmeasure' project.id %}">Добавить измерение</a>
        </div>
    {% else %}
        <h1>Вам необходимо <a href="{% url 'factory:login' %}">авторизироваться</a> сначала</h1>
    {% endif %}


</section>

{% endblock %}