{% extends 'base.html' %} 



{% block title %} Projects {% endblock %}

{% block content %}


<section class="articles-list">
    {% if request.user.is_authenticated %}
        {% if projects_list %}
            <h1 class="margin">Проекты</h1>

            {% for item in projects_list %}
            <div class="article-li">
                <a href="{% url 'factory:detail' item.id %}"><h2>{{item.project_name}}</h2></a>
                <span class="article_author-li"><cite>{{item.project_owner}}</cite></span>
                <span class="pub_date-li">Updated: {{item.update_date}}</span>
                <p class="article_text-li">{{item.project_description}}...</p>
            </div>
            {% endfor %}
        {% else %}
            <h1 class="margin text-center font-weight-bold">Ни один проект еще не был создан. <a href="{% url 'factory:add_project'%}">Создайте</a> первый!</h1>
        {% endif %}
    {% else %}
        <p  class="margin text-center font-weight-bold">Для просмотра списка проектов необходимо сначала <a href="{% url 'factory:login' %}">войти</a></p>
    {% endif %}
</section>




{% endblock %}